.page {
  display: grid;
  /* grid-template-columns: repeat(2, min-content); */
  grid-template-columns: 46% 56%;
  /* grid-template-rows: 5% 55% 40%; */
  grid-template-rows: 7% 39% 54%;
  /* grid-template-rows:  repeat(3, min-content) ; */
  box-sizing: border-box;
  /* width: auto; */
  /* max-width: 1600px; */
  height: 100vh;
  max-height: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dbeeee;
  /* padding: 20px; */
  aspect-ratio: 4/3;
}
/* .page:after {
  content: "";
  display: table;
  clear: both;
} */
