.content-block__control-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* justify-content: space-between; */
  width: 23%;
  height: 89%;
  background-image: url('../../../image/navpanel.svg');
  /* background-image: url('../../../image/navpanel-right.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7%;
  left: 77%;
}
